name: MLOps CI/CD

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install --upgrade pip && pip install -r requirements.txt
- name: Run tests
  run: |
    export PYTHONPATH=$PYTHONPATH:$(pwd)
    if [ -d "tests" ]; then
      pytest tests/
    else
      echo "No tests folder found, skipping tests"
    fi
