name: CI/CD Pipeline

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run Unit & Component Tests
      run: pytest

    - name: Lint Code
      run: flake8 app

    - name: Build Docker Image
      run: docker build -t mlops-app .

    - name: Run Docker Container
      run: docker run -d -p 8000:8000 mlops-app

    - name: Smoke Test
      run: python smoke_test.py
